<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="PDD屏蔽更新"
        android:icon="@android:drawable/ic_dialog_info"
        android:allowBackup="false">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="屏蔽拼多多商家版/主端强制更新"/>
        <meta-data android:name="xposedminversion" android:value="82"/>
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope"/>
    </application>
</manifest>
